.btn-mix-noborder {
  outline:0;
  border-radius: 50px;
  font-size: 0.8em;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
  overflow: hidden;
  position: relative;
  padding: 1.5em 3em;
  margin: 4em;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
  transition: all 500ms ease-in-out;
}

.btn-mix-noborder::after, ::before { 
    content: "";
    position: absolute;
  }
  .btn-mix-noborder:hover, :focus {
    /* background: rgba(255, 255, 255, 0.8); */
  }


.btn-mix-noborder::after {
    background: grey;
    border-radius: 120px;
    content: attr(data-text);
    color: #fff;
    padding: 1.6em 2.5em;
    top: 0.1em;
    left: 0.5em;
    -moz-user-select: none;
    user-select: none;
    /* user-drag: none; */
  }
  .btn-mix-noborder::before {
    background: transparent;
    border-radius: 100%;
    top: 50%;
    left: 50%;  
    box-shadow: 0 1em 2em 3em #cb4752,
                4em 0em 2em 2em   #feaf40,
                -4em -2em 2em 2em #5845d4,
                -4em 2em 2em 4em  #1fe1e9,
                0 -3em 2em 3em  #8139a8,
                2em -1em 2em 2em rgba(50, 10, 200, 0.5);
    width: 0;
    height: 0;
    animation: mix 5s linear infinite;
  }


@keyframes mix {
  
  30% {

    box-shadow: 0 -1em 2em 3em  #cb4752,
                4em -1em 2em 3em #feaf40,
                -4em 2em 3em 2em #5845d4,
                -4em -2em 2em 2em #1fe1e9,
                0 3em 2em 2em  #8139a8,
                2em 1em 2em 2em rgba(50, 10, 250, 0.5);
  }
  
  60% {

    box-shadow: 2em 1em 2em 3em  #cb4752,
                3em 1em 2em 3em   #feaf40,
                3em -2em 3em 3em #5845d4,
                -4em 2em 2em 3em #1fe1e9,
                0 -3em 2em 3em #8139a8,
                -2em 1em 2em 3em rgba(50, 210, 250, 0.6);
  }

}

.btn-mix-noborder::after {
    background: transparent !important;
    color: white !important;
  }




/* html,
body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
} */
/* 
body {
  background: $bg-color;
  display: flex;
  justify-content: center;
  align-items: center; 
} */

a {
  text-decoration: none;
}