#menu-yellow {
  width: 35px;
  height: 30px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
  position: absolute;
  top: 1230px!important;
  left: 0!important;
  z-index: 1;
}


.bar-yellow {
  height: 2.5px;
  width: 100%;
  background-color: white;
  display: block;
  transition: 0.3s ease;
}

#bar1-yellow {
  transform: translateY(-8px);
}

#bar3-yellow {
  transform: translateY(8px);
}
.nav-title-yellow {
  color: white;
  position: absolute;
  left: 65px;
  top: 1245px;
  z-index: 1
}

.nav-yellow {

  /* background-color: violet; */
  margin: 30px 0 20px 20px;
  cursor: pointer;
  position: absolute;
  top: 1260px!important;
  left: 0px!important;
  z-index: 1;
  transition: 0.5s ease;
  display: none;
}
.nav-yellow li a {
  color: white;
  text-decoration: none;
}
.nav-yellow li a:hover {
  font-weight: bold;
  color: var(--yellow)
}

.nav-yellow li {
  list-style: none;
  padding: 5px 0;
}

.menu-bg-yellow, #menu-bar-yellow{
  top: 1200;
  left: 0;
  /* position: absolute; */
}

.menu-bg-yellow {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 0 0 0 20px;
  background-color: black;
  background: circle;
  border-radius: 50%;
  transition: 0.3s ease;
}

#menu-bar-yellow {
  z-index: 2;
}

.change-bg-yellow {
  width: 300px;
  height: 300px;
  transform: translate(-25%, -25%);
}

.change-yellow .bar-yellow  {
  /* color: var(--yellow) */
  background-color: var(--yellow);
 
}

.change-nav-title-yellow {
  color: var(--yellow);
}
.change .what-is-it {
  color: yellow;
}
.change-yellow #bar1-yellow {
  transform: translateY(10px) rotatez(180deg);
}
.change-yellow #bar2-yellow {
  transform: rotatez(180deg);
}
.change-yellow #bar3-yellow {
  transform: translateY(-10px) rotatez(180deg);
}
.change-yellow {
  display: block;
}
