#menu-red {
  width: 35px;
  height: 30px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
  position: absolute;
  top: 706px!important;
  left: 0!important;
  z-index: 13;
}


.bar-red {
  height: 2.5px;
  width: 100%;
  background-color: white;
  display: block;
  transition: 0.3s ease;
}

#bar1-red {
  transform: translateY(-8px);
}

#bar3-red {
  transform: translateY(8px);
}
.nav-title-red {
  color: white;
  position: relative;
  left: 65px;
  top: 20px;
  z-index: 13;
  text-decoration: none;
}

.nav-red {

  /* background-color: violet; */
  margin: 30px 0 20px 20px;
  cursor: pointer;
  position: absolute;
  top: 770px!important;
  left: 0px!important;
  z-index: 13;
  transition: 0.5s ease;
  display: none;
}
.nav-red li a {
  color: white;
  text-decoration: none;
}
.nav-red li a:hover {
  font-weight: bold;
  color: var(--red)
}

.nav-red li {
  list-style: none;
  padding: 5px 0;
}

.menu-bg-red, #menu-bar-red{
  /* top: 600; */
  left: 0;
  /* position: absolute; */
}

.menu-bg-red {
  position: absolute;
  z-index: 12;
  width: 0;
  height: 0;
  margin: 0 0 0 20px;
  background-color: black;
  background: circle;
  border-radius: 50%;
  transition: 0.3s ease;

}

#menu-bar-red {
  z-index: 11;
}

.change-bg-red {
  width: 300px;
  height: 300px;
  transform: translate(-25%, -25%);
}

.change-red .bar-red  {
  /* color: var(--red) */
  background-color: var(--red);
 
}

.change-nav-title-red {
  color: var(--red);
}
.change .what-is-it {
  color: red;
}
.change-red #bar1-red {
  transform: translateY(10px) rotatez(180deg);
}
.change-red #bar2-red {
  transform: rotatez(180deg);
}
.change-red #bar3-red {
  transform: translateY(-10px) rotatez(180deg);
}
.change-red {
  display: block;
}
