* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.pricing-top {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.titles{
  margin: 8em 0 3em 14em;
}
.pricing-models {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  /* margin-right: 10em; */
  position: inherit;
  z-index: 15;
  padding: 2em;
}
.pricing-model {
  display: flex;
  flex-direction: column;
  align-items: center;}
.left {
  color: var(--red)
}
.pricing-line-left {
  height: 2px;
  width: 75px;
  /* position: absolute; */
  /* top: 13em; */
  background-color: var(--red);
  z-index: 5;
  margin-bottom: 5px;
  margin-top: 5px;
}
.center {
  color: var(--yellow);
}
.pricing-line-center {
  height: 2px;
  width: 75px;
  /* position: absolute; */
  /* top: 13em; */
  background-color: var(--yellow);
  z-index: 5;
  margin-bottom: 5px;
  margin-top: 5px;
}
.right{
  color: var(--cyan);
}
.pricing-line-right {
  height: 2px;
  width: 75px;
  /* position: absolute; */
  /* top: 13em; */
  background-color: var(--cyan);
  z-index: 5;
  margin-bottom: 5px;
  margin-top: 5px;
}
.pricing-details {
  display: flex;
  margin: 0.5em 0 0.5em 0;
}

.pricing-details p {
  margin-left: 0.5em;
}
.pricing-details i{
  color: white;
}

.pricing-select-button-left {
  height: 50px;
  border-radius: 50px;
  background-color: var(--red);
  padding: 1em 3em;
  color: white;
  border: none;
  margin: 2em;
  text-decoration: none;
}

.pricing-select-button-center {
  height: 50px;
  border-radius: 50px;
  background-color: var(--yellow);
  padding: 1em 3em;
  color: white;
  border: none;
  margin: 2em;
  text-decoration: none;
}

.pricing-select-button-right {
  height: 50px;
  border-radius: 50px;
  background-color: var(--cyan);
  padding: 1em 3em;
  color: white;
  border: none;
  margin: 2em;
  text-decoration: none;
}

.pricing-bottom {
  background-color: var(--red);
  color: white;

}

.pricing-bottom-content {
  padding: 10em;
}
.perks-box-info{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;
}

.perks-line {
  height: 2px;
  width: 75px;
  /* position: absolute; */
  /* top: 13em; */
  background-color: white;
  z-index: 5;
  margin-bottom: 5px;
  margin-top: 5px;
}
.perks-box-info p{
  color: black;
}
