.white-button {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: white;
  /* padding: 1em .5em 1em .5em; */
  padding: 1em 2em;
  margin: 4em;
  border: none;
  color: var(--red);
  font-size: 1em;
  /* width: 200px; */
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 50px;
}

.white-button span {
  position: relative;
  pointer-events: none;
  overflow: hidden;
}

.white-button span a {
  color: var(--red);
}
.white-button::before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side,
   var(--yellow), 
   /* pink, */
   transparent);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: width .2s ease, height .2s ease;
}

.white-button:hover::before {
  --size: 400px;
}

